#menu{
    width: 100vw;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;  
}

#head{
    width: 25.6rem;
    height: 22.02rem;
    justify-content: flex-start;
    gap: 3rem;
}

#title{
    font-size: 3rem;
    
}

#timer-session{
    font-size: 1.5rem;
}


#timer{
    font-size: 6rem;
    margin-bottom: 1rem;
}

#config hr{
    margin-bottom: .5rem;
}

.config-item{
    margin-bottom: .8rem;
}


#buttons{
    flex-direction: row;
}


#buttons button{
    width: 12rem;
}